
@import "../../../node_modules/prismjs/themes/prism-okaidia.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


pre[class*="language-"] {
    background-color:#1f2937;
    padding: 1em;
    margin: 0;
    overflow: auto;
    border-radius: .0rem 0rem 0.375rem  0.375rem ;
}