<div class="sidebar fixed top-0 bottom-0 z-10 bg-white w-[300px] ps-3.5 py-4 shadow h-screen border-r">
    <div class="">
        <a href="#"><img src="../assets/images/brand/logo/logo-2.svg" alt=""></a>
    </div>
    <div class="my-4">
        <nav class="h-screen" data-simplebar>
            <ul>
                <li>
                    <h5 class="mb-3 text-sm font-semibold text-slate-900 dark:text-slate-200">Getting Started</h5>
                    <ul class="ml-0.5 space-y-2 border-l-2 border-slate-100 dark:border-slate-800">
                      <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900   " href="index.html">Installation</a></li>
                      <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900    border-blue-600  " href="#">Environment setup</a></li>
                      <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900   " href="#">Working with Gulp</a></li>
                      <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900   " href="#">Compiled Files</a></li>

                      <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900   " href="#">File Structure</a></li>
                      <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900   " href="#">Resources & Assets</a></li>
                      <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900   " href="#">Changelog</a></li>

                    </ul>
                  </li>
              </ul>
              <ul class="mt-8">
                <li>
                  <h5 class="mb-3 text-sm font-semibold text-slate-900 dark:text-slate-200">Components</h5>
                  <ul class="ml-0.5 space-y-2 border-l-2 border-slate-100 dark:border-slate-800">
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Accordions</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Alerts</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Badge</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Blockquote</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Buttons</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Button Group</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Card</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Collapse</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">List Group</a></li>

                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Legend Indicator</a></li>

                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Progress</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Spinner</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Icons</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Toast</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Navbar</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Mega menu</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Navs</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Tabs</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Scrollspy</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Breadcrumb</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Pagination</a></li>
                    <li><a class="block py-1 pl-4 -ml-px border-l-2 border-transparent text-sm text-slate-700 hover:border-slate-400 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300 " href="#">Forms</a></li>

                </ul>
                </li>
              </ul>
        </nav>

    </div>


</div>
