<div class="sidebar fixed top-0 bottom-0 bg-gray-900 w-[300px] p-3.5 overflow-y-auto shadow h-screen">
    <div class="">
        <a href="#"><img src="../assets/images/brand/logo/logo.svg" alt=""></a>
    </div>
    <div class="my-4">
        <nav>
            <ul class="list-none">
                <li>

                    <a href="#" class="text-gray-500 flex items-center font-semibold hover:text-white hover:bg-gray-600 p-3 rounded-md">
                        <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                          </svg>
                          </span>
                        <span class="ms-2">Dashboard</span></a>
                    </li>

                 <li class="my-4 pl-4"><span class="text-xs text-gray-600 uppercase tracking-widest font-semibold">LAYOUTS & PAGES</span></li>






            </ul>
        </nav>

    </div>


</div>
